<%-include('./view/common/header.ejs')%>
<style>
    body {
        padding: 50px 0 40px 0;
    }

    .sidebar-nav {
        position: fixed;
        width: 180px;
        left: 0px;
        bottom: 0;
        top: 0;
        background: #ccc;
        padding: 10px;
        z-index: 10;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .container {
        width: auto;
        margin: 0 0px
    }
</style>
<div>
    <div class="container" style="padding-top: 20px;">
        <div class="row">

            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href=""> LOGO </a>
                </div>
                <ul class="nav navbar-nav navbar-right" style="margin-right:0;">
                    <li>
                        <a href="#">ww</a>
                    </li>
                    <li>
                        <a href="#">ss</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-btn" data-toggle="dropdown">
                            zz<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">子菜单1</a></li>
                            <li><a href="#">子菜单2</a></li>
                            <li class="divider"></li>
                            <li><a href="#">子菜单3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="#">w w</a>
                    </li>
                    <li>
                        <a href="#">a a</a>
                    </li>
                    <li>
                        <a href="#">京东</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left form-inline" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="keywords" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <button type="button" class="btn btn-success navbar-btn">navbar按钮</button>
                <p class="navbar-text">navbar-text here</p>
            </div>
        </div>





        <!-- <div class="row">
            <nav class="sidebar-nav">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        请选择工程 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <% project.forEach(function(item){%>
                        <li><a href="<%=item.url%>"><%=item.name %></a></li>
                        <% }) %>
                    </ul>
                </div>
            </nav>
        </div> -->
        <div class="row">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">新增</button>
        </div>
        <table class="table table-hover">
            <thead>
                <th>
                    工程名称
                </th>
                <th>
                    名称
                </th>
                <th>
                    描述
                </th>
                <th>
                    操作
                </th>
            </thead>
            <tbody>
                <% project.forEach(function(item){%>
                <tr>
                    <td><%=item.projectName%></td>
                    <td><%=item.name%></td>
                    <td><%=item.desc%></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <!-- <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#myModal">编辑</button> -->
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    页面
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a data-toggle="modal" data-target="#myModalPage"
                                            onclick="$.addPage({'projectName':'<%=item.projectName%>'})">新增</a></li>
                                    <li role="separator" class="divider"></li>

                                    <%item.urlList&&item.urlList.forEach(function(subItem){%>
                                    <li><a
                                            href="./edit/<%=item.projectName%>/<%=subItem.pageName%>"><%=subItem.name%></a>
                                    </li>
                                    <%})%>
                                </ul>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    访问预览
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <%item.urlList&&item.urlList.forEach(function(item){%>
                                    <li><a href="<%=item.url%>" target="_blank"><%=item.pageName%></a></li>
                                    <%})%>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-default"
                                onclick="$.downAction('<%=item.projectName%>')" downAction>下载</button>
                            <%if(item.projectName!='test'){%>
                            <button type="button" class="btn btn-default"
                                onclick="$.deteleAction('<%=item.projectName%>')">删除</button>
                            <%}%>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>


        <!-- 新增工程模态框（Modal） -->
        <div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                新增工程
                            </h4>
                        </div>
                        <form id="form" action="/" method="post" autocomplete="off">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="projectName">工程名称</label>
                                    <input type="text" class="form-control" name="projectName"
                                        placeholder="请输入工程名称,工程唯一标识">
                                </div>
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" class="form-control" name="name" id="" placeholder="请输入名称">
                                </div>
                                <div class="form-group">
                                    <label for="name">描述</label>
                                    <textarea class="form-control" name="desc" rows="3" placeholder="请输入描述"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    提交
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 编辑工程页面模态框（Modal） -->
        <div>
            <div class="modal fade" id="myModalPage" tabindex="-1" role="dialog" aria-labelledby="myModalPageLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalPageLabel">
                                新增页面
                            </h4>
                        </div>
                        <form id="formPage" action="/addPage" method="post" autocomplete="off">
                            <div class="modal-body">
                                <div class="form-group" style="display: none;">
                                    <label for="projectName">工程名称</label>
                                    <input type="text" class="form-control" name="projectName" id="projectName_page"
                                        placeholder="请输入工程名称,工程唯一标识">
                                </div>
                                <div class="form-group">
                                    <label for="pageName">页面标识</label>
                                    <input type="text" class="form-control" name="pageName"
                                        placeholder="请输入页面名称,页面唯一标识">
                                </div>
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" class="form-control" name="name" placeholder="请输入名称">
                                </div>
                                <div class="form-group">
                                    <label for="name">描述</label>
                                    <textarea class="form-control" name="desc" rows="3" placeholder="请输入描述"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    提交
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        $.deteleAction = function (item) {
            $.ajax({
                url: "/delete",
                type: "post",
                data: { projectName: item },
                success: function (res) {
                    if (res.status == 200) {
                        window.location.href = window.location.href;
                    }
                }
            })
        };
        $.downAction = function (item) {
            $.ajax({
                url: "/down",
                type: "post",
                timeout: 30000000,
                data: { projectName: item },
                success: function (res) {
                    if (res.status == 200) {
                        debugger
                    }
                }
            })
        };

        $.addPage = function (obj) {
            var projectName = obj.projectName;
            $("#projectName_page").val(projectName);
        };

        $('#formPage')
            .bootstrapValidator({
                message: '登录校验',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    /*验证：规则*/
                    pageName: {//验证input项：验证规则
                        message: '工程名称',
                        validators: {
                            notEmpty: {//非空验证：提示消息
                                message: '不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '长度必须在2到20之间'
                            },
                            regexp: {
                                regexp: /^[A-Za-z0-9_]+$/,
                                message: '数字、字母、下划线组成'
                            }
                        }
                    },
                    name: {
                        message: '名称',
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 20,
                                message: '长度必须在1到20之间'
                            },
                            regexp: {

                                regexp: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                                message: '账号/用户名由数字、字母、汉字组成'
                            }
                        }
                    },
                    desc: {
                        message: '描述',
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 300,
                                message: '长度必须在1到300之间'
                            },
                            regexp: {

                                regexp: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                                message: '由数字、字母、汉字组成'
                            }
                        }
                    }

                }
            })


        $('#form')
            .bootstrapValidator({
                message: '登录校验',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    /*验证：规则*/
                    projectName: {//验证input项：验证规则
                        message: '工程名称',
                        validators: {
                            notEmpty: {//非空验证：提示消息
                                message: '不能为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '长度必须在2到20之间'
                            },
                            // remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                            //     url: '/checkAdmin',//验证地址
                            //     message: '用户不存在',//提示消息
                            //     delay: 1000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置1秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                            //     type: 'POST',//请求方式
                            //     data: function () {
                            //         return {
                            //             loginAccount: $("#loginForm input[name='loginAccount']").val(),
                            //             loginName: $("#loginForm input[name='loginAccount']").val()
                            //         }
                            //     }
                            // },
                            regexp: {
                                regexp: /^[A-Za-z0-9_]+$/,
                                message: '数字、字母、下划线组成'
                            }
                        }
                    },
                    name: {
                        message: '名称',
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 20,
                                message: '长度必须在1到20之间'
                            },
                            regexp: {

                                regexp: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                                message: '账号/用户名由数字、字母、汉字组成'
                            }
                        }
                    },
                    desc: {
                        message: '描述',
                        validators: {
                            notEmpty: {
                                message: '不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 300,
                                message: '长度必须在1到300之间'
                            },
                            regexp: {

                                regexp: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
                                message: '由数字、字母、汉字组成'
                            }
                        }
                    }

                }
            })
        // .on('success.form.bv', function (e) {//点击提交之后
        //     //密码加密
        //     debugger
        //     var password = $('#loginForm input[name=password]').val();
        //     $('#loginForm input[name=password]').val($.md5(password))
        //     // 终止重复提交
        //     e.preventDefault();
        //     // 得到form表单对象
        //     var $form = $(e.target);
        //     // 获得bootstrap验证对象
        //     var bv = $form.data('bootstrapValidator');
        //     // Use Ajax to submit form data 提交至form标签中的action，result自定义
        //     $.post($form.attr('action'), $form.serialize(), function (data) {
        //         layer.msg(data.msg);
        //         if (data.code == 1) {
        //             common.method.GoUrl("/page/base");
        //         } else {
        //             $('#loginForm button[type=submit]').attr("disabled", false);
        //         }
        //     });
        // });

        // swal({
        //     title: "",
        //     text: "",
        //     icon: "warning",
        //     buttons: true,
        //     dangerMode: true
        // }).then(function (willDelete) {
        //     if (willDelete) {

        //     } else {

        //     }
        // })

    })($)
</script>

<%-include('./view/common/footer.ejs')%>